<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>612232528438-2cnj4r5pcs50fsdjj35j2rcp95csdffv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612232528438-2cnj4r5pcs50fsdjj35j2rcp95csdffv</string>
	<key>API_KEY</key>
	<string>AIzaSyCd-6ZpbOfeIGQfTGv8DxpMOZQQ5o0C-Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>612232528438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nishu.HackerNewsApp</string>
	<key>PROJECT_ID</key>
	<string>hackernewsapp-13399</string>
	<key>STORAGE_BUCKET</key>
	<string>hackernewsapp-13399.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612232528438:ios:7ab59846409a1b4b</string>
	<key>DATABASE_URL</key>
	<string>https://hackernewsapp-13399.firebaseio.com</string>
</dict>
</plist>